/**

// EVERYONE'S CSS WILL BE IN HERE. NO INTERNAL OR INLINE CSS
// SUGGESTED TO USE THE FOLLOWING FORMAT FOR ID 
// id = pagename_body  ... id = index_body

// YOU CAN USE THE FOLLOWING SITE TO GET COLORS FROM THE SWEDISH PALET
// https://flatuicolors.com/palette/se
*/

/* INDEX */
#index_body {

    background-color: #d2dae2;
}

/* LOGIN/SINGUP PAGE */

#firebaseui-auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_body{
    background-color: #d2dae2;
}

.loginSignUpBtn{
    background-color: #f4623a; 
    color: #fff; 
    width: 100%;
}

/* MESSAGE LIST PAGE */
#messageList_body {
    padding-top: 90px;
    font-size: 3vw;
}

.messageList_user {
  font-size: 3vw;
}

.ml_row {
  padding: 100px;
}